body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: block;
  color: whitesmoke;
  background-image: url(https://i.pinimg.com/474x/b1/23/85/b12385600ad4f267a0d87b8ffaaf0033.jpg);
  font-size: tahoma;
}
#header {
  background-color: rgb(0, 0, 0);
  position: relative;
  padding: 20px;
  text-align: center;
}
#header img {
  width: 50px;
  height: auto;
  position: absolute;
  top: 15px;
  left: 15px;
}
#title {
  margin: 0;
  text-align: center;
  font-size: 2em;
  box-shadow: 0px 0px 10px rgba(75, 63, 63, 0.1);
  border-radius: 5px;
  color: whitesmoke;
}
#nav-bar {
  margin-top: 10px;
  display: block;
}
#nav-bar ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
}
#nav-bar li {
  display: inline;
  margin: 0px 10px;
}
#nav-bar a {
  display: inline-block;
  flex-direction: column-reverse;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  padding: 15px 36px;
  color: whitesmoke;
  transition: all 0.3s ease;
}
#nav-bar a:hover {
  background-color: rgb(22, 21, 21);
  box-shadow: 0px 4px 8px rgba(31, 30, 30, 0.2);
  transform: scale(1.1);
  border-radius: 5px;
}

#nav-bar a:active {
  background-color: #1a1a1a;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transform: scale(1);
}
main {
  padding: 20px;
}
section {
  margin-bottom: 40px;
  background-color: rgb(12, 12, 12);
  border-radius: 10px;
  box-shadow: 0px 0px 20px #4449;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
section h2 {
  font-size: 1.7em;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 3px solid #4448;
}
section h3 {
  font-size: 1.5em;
  font-family: "Times New Roman", Times, serif;
}

section li {
  color: #727171;
}
.li-p1 {
  color: whitesmoke;
  margin: 3px;
  font-size: 1.1em;
  text-align: left;
}
.li-p2 {
  color: whitesmoke;
  font-size: 1.1em;
  text-align: left;
}
.li-p3 {
  color: whitesmoke;
  text-align: left;
  margin: 4px;
  font-size: 1.2em;
}
section p {
  font-size: 1.3em;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
section img {
  width: 80%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 8%;
}
section a {
  text-decoration: none;
  margin: 5px;
  font-size: 1.1em;
  color: rgb(29, 78, 236);
}
#seccion7 {
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 80px;
  padding: 30px 10px;
}
.suscribete {
  font-size: 2em;
}
footer {
  background-color: #000;
  color: whitesmoke;
  text-align: center;
  padding: 20px 0px;
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
}
